body {
  margin: 0 auto;
  max-width: 1400px;
}
.title {
  font-size: 50px;
  color: tomato;
}
.paragraph {
  font-style: italic;
}
.box {
  margin: 0 auto;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 955px;
  font-family: Roboto;
  padding: 40px 55px 55px 55px;
  box-sizing: border-box;

  &__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    object-position: 50% 50%;
    object-fit: cover;
  }

  &__img-wrap {
    position: relative;
    width: 100%;
    padding-top: 66.666%;
    margin: 0 auto 7px auto;
  }

  &__card {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
  }

  &__title {
    margin: 0 auto 17px 0;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
  }

  &__paragraph {
    margin: 0 auto 17px auto;
    font-size: 12px;
    color: #000000;
  }

  &__button {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #C4C4C4;
    font-size: 10px;
    color: #000000;
  }
}
.pictures {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 955px;
  height: 300px;


  &__img {
    width: 200px;
    height: 150px;
    object-position: 50% 50%;
    object-fit: cover;
  }
}

.box-container {
  width: auto;
  margin: 20px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__1 {
    width: auto;
    min-height: 60px;
    background: #C4C4C4;
    @include media-only(md) {
      background: red;
    }
    @include media-up(md) {
      background: yellow;
    }
   }

  &__2 {
    width: auto;
    min-height: 360px;
    background: #FF9C9C;
    @include media-only(md) {
      background: red;
    }
    @include media-up(md) {
      background: yellow;
    }
   }

  &__3 {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
   }

  &__3-1 {
    width: 50%;
    min-height: 60px;
    background: #92B9D4;
    @include media-only(md) {
      background: red;
    }
    @include media-up(md) {
      background: yellow;
    }
   }

   &__3-2 {
    width: 50%;
    min-height: 60px;
    background: #9BC79D;
    @include media-only(md) {
      background: red;
    }
    @include media-up(md) {
      background: yellow;
    }
  }
}