{% extends "templates/default.html" %}
{% set title = "Статья несостоявшегося поэта" %}

{% block content %}

<main class="main">
  <div class="container">
    <h1 class="title">
      {{ title }}
    </h1>
    <p class="paragraph">
      Можно и про поля,<br>
      Да про тополя - <br>
      Это дело нехитрое,<br>
      Вуаля!<br>
      Я бы точно смог,<br>
      Только точит тля,<br>
      Заставляя меня<br>
      Начинать с нуля...
    </p>
    <p class="paragraph">
      Ля ля ля
    </p>
  </div>

  {% endblock %}